$minWidth: 300px;
$maxWidth: 1920;
$maxWidthContainer: 1340;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 567.98;
$md5: 479.98;

$primary-color: #005FAE; 
$secondary-color: #999999;
$button-simple-bg: #00C346;;
$button-primary-bg: $primary-color; 
$button-sell-bg: #EE6C4D;
$button-disabled-bg: $secondary-color;
$button-disabled-bg: rgba(0, 0, 0, 0.12);
$button-disabled-color: rgba(0, 0, 0, 0.26);

$overlay-pressed-bg: rgba(255, 255, 255, 0.32);
$overlay-hover-bg: rgba(255, 255, 255, 0.08);
$box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);

$comments-bg: #F0F0F0;

$t: .3s;

$html-fsize: 16;